@page "/displaymatches"
<h3>Matches</h3>

<button class="btn btn-primary" @onclick="getMatches">View Matches</button>

<div class="matches-list">
    @if (matches != null && matches.matches.Any())
    {
        @foreach (var match in matches.matches)
        {
                    <div class="match-item">
                        <div class="match-header">
                            <span class="team-name">@match.homeTeam.name</span>
                            <img class="team-logo" src="@match.homeTeam.crest" alt="Home Team Logo" width="50" height="50">
                            <span>vs</span>
                            <img class="team-logo" src="@match.awayTeam.crest" alt="Away Team Logo" width="50" height="50">
                            <span class="team-name">@match.awayTeam.name</span>
                        </div>
                        <div class="match-info">
                            <span><strong>Score:</strong> @match.score.winner</span><br>
                            <span><strong>Date:</strong> @match.utcDate.ToString("yyyy-MM-dd HH:mm")</span><br>
                            <span><strong>Status:</strong> @match.status</span>
                        </div>
                    </div>
        }
    }
</div>

@code {
    private Matches? matches;

    private void getMatches()
    {
        MatchInterface matchInterface = new FootballMatchService();

        matches = matchInterface.GetMatches();
    }
}