<h3>PLTeams</h3>

<button class="btn btn-primary" @onclick="getAllTeams">View Teams</button>

<div class="teams-list">
    @if (teams != null && teams.teams.Any())
    {
        @foreach (var team in teams.teams)
        {
            <div class="team-item">
                <div class="team-header">
                    <img class="team-logo" src="@team.crest" alt="Team Logo" width="50" height="50">
                    <span class="team-name">@team.name</span>
                </div>
                <div class="team-info">
                    <span><strong>ID:</strong> @team.id</span><br>
                    <span><strong>Founded:</strong> @team.founded</span><br>
                    <span><strong>Manager:</strong> @team.coach.name</span>
                </div>
            </div>
        }
    }
</div>
@code {
    private Teams? teams;
    private void getAllTeams()
    {
        TeamInterface teamInterface = new TeamService();
        teams = teamInterface.GetAllTeamsInPL();
    }
}
